<div style="height: 5px;">
  <p></p>
</div>
<div class="zcarousel">
      <carousel>
        <slide>
          <img src="assets/img/banner1.png" alt="First slide" style="width: 100%">
          <!--<div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>-->
        </slide>
        <slide>
          <img src="assets/img/banner2.png" alt="Second slide" style="width: 100%">
         <!-- <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>-->
        </slide>
        <slide>
          <img src="assets/img/banner3.png" alt="Third slide" style="width: 100%">
          <!--<div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>-->
        </slide>
      </carousel>
</div>
<div style="height: 5px;">
  <p></p>
</div>
<div class="kemu">
  <div class="row">
    <!--<div class="myclass1">
      <div class="thumbnail" style="text-align: center;">
        <div class="subject">
          <img src="assets/img/chi.png" alt="...">
          <div class="caption myc">
            <p>语文</p>
          </div>
        </div>
         </div>
    </div>
    <div class="myclass">
      <div class="thumbnail"  style="text-align: center;">
        <div class="subject">
        <img src="assets/img/math.png" alt="...">
        </div>
        <div class="caption myc">
          <p>数学</p>
        </div>
      </div>
    </div>
    <div class="myclass">
      <div class="thumbnail"  style="text-align: center;">
        <div class="subject">
        <img src="assets/img/eng.png" alt="...">
        </div>
        <div class="caption myc">
          <p>英语</p>
        </div>
      </div>
    </div>
    <div class="myclass">
      <div class="thumbnail"  style="text-align: center;">
        <img src="assets/img/phy.png" alt="...">
        <div class="caption myc">
          <p>物理</p>
        </div>
      </div>
    </div>
    <div class="myclass">
      <div class="thumbnail"  style="text-align: center;">
        <img src="assets/img/chem.png" alt="...">
        <div class="caption myc">
          <p>化学</p>
        </div>
      </div>
    </div>
    <div class="myclass">
      <div class="thumbnail"  style="text-align: center;">
        <img src="assets/img/bio.png" alt="...">
        <div class="caption myc">
          <p>生物</p>
        </div>
      </div>
    </div>
    <div class="myclass">
      <div class="thumbnail"  style="text-align: center;">
        <img src="assets/img/phys.png" alt="...">
        <div class="caption myc">
          <p>政治</p>
        </div>
      </div>
    </div>
    <div class="myclass">
      <div class="thumbnail" style="text-align: center;">
        <img src="assets/img/his.png" alt="...">
        <div class="caption myc">
          <p>历史</p>
        </div>
      </div>
    </div>
    <div class="myclass9">
      <div class="thumbnail"  style="text-align: center;">
        <img src="assets/img/geo.png" alt="...">
        <div class="caption myc">
          <p>地理</p>
        </div>
      </div>
    </div>-->
    <div class="mysubject">
      <h6>语文</h6>
    </div>
    <div class="mysubject">
      <h6>數學</h6>
    </div>
    <div class="mysubject">
      <h6>英語</h6>
    </div>
    <div class="mysubject">
      <h6>物理</h6>
    </div>
    <div class="mysubject">
      <h6>化學</h6>
    </div>
    <div class="mysubject">
      <h6>生物</h6>
    </div>
    <div class="mysubject">
      <h6>政治</h6>
    </div>
    <div class="mysubject">
      <h6>歷史</h6>
    </div>
    <div class="mysubject">
      <h6>地理</h6>
    </div>
  </div>
</div>
<div class="mykong">
</div>
<div class="page-header">
  <h4 style="color: #555555">公开课<small> &nbsp;class for you</small></h4>
</div>
<div class="mykong2">
  <p></p>
</div>
<div class="gongkaike">
  <div class="row">
    <div class="col-xs-4 col-sm-6 col-md-3">
    <div class="thumbnail">
      <div class="caption ke">
        <p style="color: #555555"><i class="fa fa-book"></i> &nbsp;语文古诗词背诵</p>
      </div>
      <a href="#"><img src="assets/img/chinese.png" alt="..." style="width: 220px;height: 176px;"></a>
    </div>
  </div>
    <div class="col-xs-4 col-sm-6 col-md-3">
      <div class="thumbnail">
        <div class="caption ke">
          <p style="color: #555555"><i class="fa fa-book"></i> &nbsp;数学决战三角函数</p>
        </div>
        <a href="#"><img src="assets/img/maths.png" alt="三角函数"  style="width: 220px;height: 176px;"></a>
      </div>
    </div>
    <div class="col-xs-4 col-sm-6 col-md-3">
      <div class="thumbnail">
        <div class="caption ke">
          <p style="color: #555555"><i class="fa fa-book"></i> &nbsp;英语todo语法</p>
        </div>
        <a href="#"><img src="assets/img/english.png" alt="三角函数"  style="width: 220px;height: 176px;"></a>
      </div>
    </div>
    <div class="col-xs-4 col-sm-6 col-md-3">
      <div class="thumbnail">
        <div class="caption ke">
          <p style="color: #555555"><i class="fa fa-book"></i> &nbsp;物理曲线运动</p>
        </div>
        <a href="#"><img src="assets/img/physics.png" alt="alt"  style="width: 220px;height: 176px;"></a>
      </div>
    </div>
    </div>
</div>
<div class="mykong2">
  <p></p>
</div>
<div class="page-header">
  <h4 style="color: #555555">猜你会错<small> &nbsp;guess you wrong</small></h4>
</div>
<div class="mykong2">
  <p></p>
</div>
<div class="guwrong" style="background-color:  #eff5f0;height: 150px;">
  <div style="height: 20px;width: 100%;">
    <img src="assets/img/sign.png" style="float: left;">
  <a href="#" style="float: right;color: #555555;margin-top: 10px;">查看更多</a>
    <div style="clear: both"></div>
    <div style="padding: 8px;">
      <p>已知A点坐标为A（1，1，1），B（3，3，3），点P在x轴上，且|PA|=|PB|，则P点坐标为（ ）</p>
      <p>A．（6，0，0）	B．（6，0，1）	C．（0，0，6）	D．（0，6，0）</p>
    </div>
  </div>
</div>
<div class="mykong">
  <p></p>
</div>
